{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - S'inscrire{% endblock %}

{% block body %}

    <h1 class="title">Inscrivez vous</h1>

    {{ include('player/_form.html.twig', {'button_label': "S'inscrire"}) }}

{% endblock %}
