{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Liste des 10 meilleurs joueurs</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>Position</th>
					<th>Username</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% if playerArray|length == 0 %}
					<tr>
						<td colspan="3">Aucun joueur</td>
					</tr>
				{% else %}
					{% set count = 1 %}
					{% for player in playerArray %}
						<tr>
							<td>{{ count }}</td>
							<td>{{ player.username }}</td>
							<td>{{ player.ratio }}</td>
						</tr>
						{% set count = count + 1 %}
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
